* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
}

@font-face {
  font-family: Poppins;
  src: url("Poppins/Poppins-SemiBold.ttf");
}

@font-face {
  font-family: Poppins-light;
  src: url("Poppins/Poppins-Light.ttf");
}

/* TODO: check all font sizes again and put them here, for mobile too */
/* font size desktop */
.menus {
  font-size: 16px;
}

h1 {
  font-size: 50px;
}

.h2 {
  font-size: 48px;
}

.navbar {
  position: relative;
  z-index: 3;
}

.frame-one:after,
.frame-two:after {
  content: "";
  width: 60px;
  height: 70px;
  background: url(./images/arrow-how-it-woks.svg) no-repeat;
  display: block;
  position: absolute;
  right: -50px;
  bottom: 32px;
}

.first-package .plan-info-item:not(:last-child) {
  margin-bottom: 12px;
}

.plan-info-item {
  display: flex;
  justify-content: space-between;
}

.bg-lines {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0px;
  z-index: 1;
}

#lp-main {
  position: relative;
  z-index: 2;
}

.header {
  display: inline-block;
}

.navbar {
  border: 2px solid #f2f4f6;
}

.menu {
  display: flex;
  padding-top: 12px;
  padding-bottom: 12px;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  margin: auto;
  padding-left: 80px;
  padding-right: 80px;
}

.menus-links {
  display: flex;
  align-items: center;
}

.menus {
  padding-top: 0;
  padding-bottom: 0;
  color: #180e73;
  font-weight: 500;
}

.menus:hover {
  text-decoration: underline;
}

.menu-cta {
  display: flex;
}

.employer-btn {
  padding: 16px 32px;
  color: #180e73;
  border: 1px solid #486af6;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
  border-radius: 0;
  margin-right: 28px;
  background: white;
}

.download-btn-nav {
  padding: 16px 32px;
  background-color: #486af6;
  color: white;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  border-radius: 0;
}

.download-btn {
  padding: 16px 32px;
  background-color: #486af6;
  color: white;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  border-radius: 0;
  margin-top: 32px;
}

.nav-link {
  text-decoration: none;
  color: #222222;
  margin-right: 32px;
}

.main {
  display: flex;
  justify-content: space-between;
  margin-bottom: 128px;
  margin-top: 64px;
  align-items: center;
}

.main-text-title {
  position: relative;
}

h1 {
  color: #180e73;
}

.h2 {
  margin-bottom: 0;
  color: #180e73;
  text-align: left;
  width: 100%;
}

.h3 {
  color: #180e73;
  line-height: 28px;
}

.grey-text {
  color: #9f9f9f;
  font-size: 16px;
  line-height: 26px;
}

.title-style {
  height: fit-content;
  font-family: Poppins;
  margin-top: auto;
  margin-bottom: auto;
}

.light-font {
  font-family: Poppins-light;
  font-size: 14px;
}

.text-section {
  text-align: left;
  width: 500px;
  height: 354px;
  top: 220px;
  left: 80px;
  gap: 32px;
}

.how-text-section {
  margin-top: auto;
  text-align: center;
}

.heading-paragraph {
  text-align: center;
  max-width: 470px;
  margin-right: auto;
  margin-left: auto;
  color: #9f9f9f;
}

.frames {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  margin-top: 64px;
}

.buttons-links {
  display: flex;
  align-items: center;
}

.frame-one,
.frame-two,
.frame-three {
  padding: 20px 40px;
  border: 2px solid #f2f4f6;
  border-radius: 3px;
  background: #f2f4f6;
  position: relative;
}

.btn {
  display: flex;
  justify-content: center;
  height: fit-content;
}

.get-started-btn {
  margin-top: 48px;
  margin-bottom: 24px;
  padding: 16px 64px;
  background-color: #486af6;
  color: white;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  border-radius: 0;
}

.benefits {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
  margin: auto;
}

.grey-section {
  background: #f2f4f6;
}

.white-section {
  background: white;
}

.text-benefits {
  place-items: center;
  align-items: center;
  margin: auto;
}

.dropdowns {
  width: 100%;
  margin-bottom: 20px;
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: white;
}

.dropdowns-employer {
  width: 100%;
  margin-bottom: 20px;
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #f2f4f6;
}

.dropdown-title {
  color: #180e73;
  font-size: 24px;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.carret {
  padding: 12px;

  border-radius: 50%;
  justify-items: center;
  transform: rotate(180deg);
}

.grey {
  background: #f2f4f6;
}

.white {
  background: white;
}

.dropdown-text {
  margin-top: 16px;
  display: none;
}

.dropdown-listing {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  z-index: 900;
  padding: 20px 24px;
}

.benefits-employer-title {
  position: relative;
  margin: auto;
  width: fit-content;
}

.header-text {
  position: relative;
  width: fit-content;
  margin: auto;
}

.h2-packages {
  margin-bottom: 0;
  max-width: none;
  color: #180e73;
}

.desktop-container {
  max-width: 1440px;
  margin: auto;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 64px;
  padding-bottom: 104px;
}

.packages-display {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 60px;
  gap: 40px;
  margin-bottom: 40px;
}

.package {
  padding: 20px;
  text-align: left;
  background: white;
}

.package-btn {
  text-align: center;
  margin-top: 32px;
}

.btn-pack {
  width: 100%;
  padding: 16px 32px;
  background-color: #486af6;
  color: white;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  border-radius: 0;
}

.partners-heading {
  position: relative;
  text-align: center;
}

.h2-partners {
  margin-bottom: 0;
  max-width: none;
  color: #180e73;
}

.partners-description {
  text-align: center;
  max-width: 470px;
  margin-right: auto;
  margin-left: auto;
}

.partners-icons {
  display: flex;
  justify-content: space-between;
  margin-top: 48px;
}

.qna-description {
  /*margin-top: -50px;*/
  margin-bottom: 40px;
}

.q-selection {
  padding-top: 24px;
  padding-bottom: 20px;
  border-bottom: 2px solid white;
}

.dropdown-title .h3-qna {
  color: #180e73;
  font-size: 18px;
}

#underline {
  background-image: url("/images/red-highlight.png");
  background-size: auto;
}

#wavy-underline {
  position: absolute;
  bottom: 0px;
}

.plan-title {
  margin-top: 24px;
  margin-bottom: 32px;
  font-size: 24px;
}

.plan-card-header {
  display: flex;
  justify-content: space-between;
}

#new-sign {
  position: absolute;
  top: -24px;
  right: 8px;
}

.red-asterix-candidates {
  position: absolute;
  right: -8px;
}

.red-asterix-employer {
  position: absolute;
  right: 0px;
}

#red-highlight-main {
  position: absolute;
  bottom: -12px;
  right: 150px;
}

#lp-main-mobile {
  display: none;
  visibility: hidden;
}

@media only screen and (max-width: 500px) {
  /* font size mobile */
  h1 {
    font-size: 40px;
    line-height: 1.25em;
  }

  .frame-one:after,
  .frame-two:after {
    left: 0;
    bottom: -54px;
    transform: rotate(70deg);
    z-index: 1;
  }

  .frames,
  .packages-display {
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
  }

  .bg-lines {
    display: none;
  }

  .qna-header h1 {
    font-size: 24px;
  }

  .desktop-container {
    padding-left: 16px;
    padding-right: 16px;
  }

  .navbar {
    display: none;
    visibility: hidden;
  }

  .img-section {
    text-align: -webkit-center;
  }

  #lp-main {
    display: none;
    visibility: hidden;
  }

  #lp-main-mobile {
    display: block;
    visibility: visible;
  }

  .grey-text {
    line-height: initial;
  }

  .text-section {
    width: initial;
    height: initial;
    padding: 18px;
  }

  .download-btn {
    margin-top: 18px;
  }

  .main,
  .benefits-candidates,
  .benefits-employer,
  .partners-icons {
    display: block;
    padding: 0;
  }

  .h1-how-section {
    margin: 0;
    line-height: initial;
    font-size: 28px;
  }

  /* check this */
  .h2,
  .h2-packages,
  .h2-partners,
  .h2-qna {
    font-size: 28px;
    text-align: center;
  }

  .h3,
  .dropdown-listing {
    font-size: 24px;
  }

  .heading-paragraph {
    padding: 8px;
  }

  .benefits {
    display: flex;
    flex-direction: column;
  }

  .img-section > img {
    height: 375px;
    width: 375px;
  }

  #new-sign {
    margin-left: 0;
    top: 16px;
    right: 35%;
    padding: 0;
  }

  .packages-display {
    text-align: -webkit-center;
    margin-bottom: 0;
  }

  .qna-description {
    margin-top: 0;
    text-align: center;
  }

  .get-started-btn {
    width: 100%;
    /*padding: 8px;*/
  }
}
